<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <!-- CSS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
  <meta name="description" content="GERSHAD" />
  <meta name="author" content="" />

  <title>GERSHAD</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link rel="stylesheet" href="assets/css/fonts/linecons/css/linecons.css">
  <link rel="stylesheet" href="assets/css/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/xenon-core.css">
  <link rel="stylesheet" href="assets/css/xenon-forms.css">
  <link rel="stylesheet" href="assets/css/xenon-components.css">
  <link rel="stylesheet" href="assets/css/xenon-skins.css">
  <link rel="stylesheet" href="assets/css/custom.css">
     
  <!-- Compiled and minified JavaScript -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>


  <!-- Favicons -->

  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


</head>
<body>

  
  <div ng-view></div>

  <div class="page-loading-overlay">
    <div class="loader-2"></div>
  </div>

  <!-- Script CDN's -->
<!--   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.2.16/angular-cookies.min.js"></script>


      <!-- Bottom Scripts -->
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/TweenMax.min.js"></script>
  <script src="assets/js/resizeable.js"></script>
  <script src="assets/js/joinable.js"></script>
  <script src="assets/js/xenon-api.js"></script>
  <script src="assets/js/xenon-toggles.js"></script>


  <!-- Imported scripts on this page -->
  <script src="assets/js/xenon-widgets.js"></script>
  <script src="assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
  <script src="assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
  <script src="assets/js/toastr/toastr.min.js"></script>


  <!-- JavaScripts initializations and stuff -->
  <script src="assets/js/xenon-custom.js"></script>

  <!-- JavaScripts -->
  <script src="javascripts/app.js"></script>
  <script src="javascripts/routes.js"></script>

</body>

</html>
